{% extends "base.html" %}
{% block title %}Application{% endblock title%}

{% block ga_head %}
  <h5 class="mb-0">Application</h5>
{% endblock ga_head %}


{% block ga_menu %}
    {% if application_list %}
      <ul class="nav flex-column">
          {% for application in application_list %}
                <li class="nav-item">
                  <a class="nav-link p-0 active"href="{% url 'application_all' %}{{ application.id }}" class="">{{application.name}}</a>
              </li>
          {% endfor %}
      </ul>
    {% else %}
        <p>No server available.</p>
        
    {% endif %}   
{% endblock ga_menu %}

{% block ga_main %}
  {% lorem 2 b random %}
  <br>
  {% lorem 4 p random %}
  <br>
  {% lorem 10 w random %}

{% endblock ga_main %}

