{% extends "base.html" %}
{% block title %}Server Detail{% endblock title%}

{% block ga_head %}
{% include 'includes\server_head.html' %}
{% endblock ga_head %}

{% block ga_server_nav %}
{% include 'includes\server_nav.html' %}
{% endblock ga_server_nav %}

{% block ga_left_nav %}
{% include 'includes\server_list.html' %}
{% endblock ga_left_nav %}

{% block ga_message %}
{% include 'includes\server_message.html' %}
{% endblock ga_message %}


{% block ga_main %}
{% if server_detail %}
{% for card in server_detail %}

<div class="card-columns">
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Blocking</h5>
      <p class="card-text">{{card.blocking_count}}</p>
      {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Connections</h5>
      <p class="card-text">{{card.connection_count}}</p>
      {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
    </div>
  </div>
    <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Last Reboot</h5>
      <p class="card-text">{{card.last_reboot_days}} days ago</p>
      <p class="card-text"><small class="text-muted">since {{card.last_reboot_date}}</small></p>
    </div>
  </div>

 
  


  </div>


{% endfor %}


{% endif %}



{% endblock ga_main %}