{% extends "base.html" %}
{% block title %}Server{% endblock title%}

{% block panel_top %}
    <li class="breadcrumb-item"><a href="{% url 'server_all' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="#">Server</a></li>
{% endblock panel_top %}


{% block panel_left %}
    {% if server_list %}
        {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        </button> {% endcomment %}
            <ul class="nav">
                {% for server in server_list %}
                    <li>
                        <a class="nav-link py-0" href="{% url 'server_all' %}">
                            {{server.name}}  
                        </a>
                    </li>
                {% endfor %}
            </ul>


        {% comment %} <div class="">
            {% for server in server_list %}
               <p><a href="{% url 'server_all' %}{{ server.id }}" class="">{{server.name}}</a> </p>
            {% endfor %} {% endcomment %}
        </div>
        {% comment %} <div class="list-group" id="list-tab" role="tablist">
            {% for server in server_list %}
                <a href="{% url 'server_all' %}{{ server.id }}" class="list-group-item list-group-item-action py-1 px-1">{{server.name}}</a>
            {% endfor %}
        </div> {% endcomment %}
    {% else %}
        <p>No server available.</p>
    {% endif %}   
{% endblock panel_left %}

{% block panel_right %}
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endblock panel_right %}

{% block panel_bottom %}
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
{% endblock panel_bottom %}