{% extends "base.html" %}
{% block title %}Server{% endblock title%}

{% block ga_head %}
  <h5 class="mb-0">Server</h5>
{% endblock ga_head %}


{% block ga_menu %}
    {% if server_list %}
      <ul class="nav flex-column">
          {% for server in server_list %}
                <li class="nav-item">
                  <a class="nav-link p-0 active"href="{% url 'server_all' %}{{ server.id }}" class="">{{server.name}}</a>
              </li>
          {% endfor %}
      </ul>
    {% else %}
        <p>No server available.</p>
    {% endif %}   
{% endblock ga_menu %}

{% block ga_main %}
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endblock ga_main %}

