{% extends "base.html" %}
{% block title %}Server Detail{% endblock title%}

{% block ga_head %}
  {% include 'includes\server_head.html' %}
{% endblock ga_head %}

{% block ga_server_nav %}
  {% include 'includes\server_nav.html' %}
{% endblock ga_server_nav %}

{% block ga_left_nav %}
  {% include 'includes\server_list.html' %}
{% endblock ga_left_nav %}

{% block ga_message %}
  {% include 'includes\server_message.html' %}
{% endblock ga_message %}


{% block ga_main %}



{% endblock ga_main %}