{% extends "base.html" %}
{% block title %}Server Detail{% endblock title%}

{% block ga_head %}
  <h5 class="mb-0">Server Detail - {{server}}</h5>
{% endblock ga_head %}

 {% block ga_message %}
  {% comment %} {% if messages %} {% endcomment %}
    <div class="message" role="alert">
        {% for message in messages %}
         <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
  {% comment %} {% endif %} {% endcomment %}
 {% endblock ga_message %}

{% block ga_menu %}

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link p-0 active"href="{% url 'server_all' %}{{ pk }}">Detail</<a>
  </li>
</ul>
{% endblock ga_menu %}

{% block ga_main %}
{% if results %}
  <table class="table">
    <thead class="thead-dark">
      <th scope="col"> Version </th>
    </thead>
    <tbody>    
      {% for result in results %}
        <tr>
          <td>{{ result.version }}</td>
        </tr>
      {% endfor %}
    </tr>
    </tbody>
  </table>

{% endif %}
{% endblock ga_main %}

