{% extends "base.html" %}
{% block title %}Server{% endblock title%}

{% block ga_head %}
<h5 class="mb-0">Server</h5>
{% endblock ga_head %}

{% block ga_message %}
{% if messages %}
<div class="message" role="alert">
  {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
{% endblock ga_message %}

{% block ga_left_nav %}
{% if server_list %}
<ul class="nav flex-column">
  {% for server in server_list %}
  <li class="nav-item">
    <a class="nav-link p-0 active" href="{% url 'server_all' %}{% if group_type %}{{ group_type }}/{{ group_id }}/{% endif %}{{ server.id }}" class="">{{server.name}}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No server available.</p>
{% endif %}
{% endblock ga_left_nav %}

{% block ga_main %}

{% endblock ga_main %}