{% extends "admin/base.html" %}

{% comment %} {% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %} {% endcomment %}
{% block title %}
    {{ title }} | SHRSS - DBX Admin
{% endblock %}

{% comment %} {% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %} {% endcomment %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">SHRSS - DBX Admin</a></h1>
{% endblock %}


{% block nav-global %}{% endblock %}
