<nav class="navbar navbar-expand-sm p-0">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link py-0"
        href="{% url 'server_all' %}{% if group_type %}{{ group_type }}/{{ group_id }}/{% endif %}{% for server in server_selected %}{{ server.id }}{% endfor %}/server" class="">
        ServerLogs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-0"
        href="{% url 'server_all' %}{% if group_type %}{{ group_type }}/{{ group_id }}/{% endif %}{% for server in server_selected %}{{ server.id }}{% endfor %}/agent" class="">
        AgentLogs
      </a>
    </li>
  </ul>
</nav>