{% if server_list %}
<ul class="nav flex-column">
  {% for selected in server_selected %}
  {% for server in server_list %}
  <li class="nav-item">
    <a class="nav-link p-0 {% if  server.name  ==  selected.name  %}text-danger font-weight-bold{% endif %}"
      href="{% url 'server_all' %}{% if group_type %}{{ group_type }}/{{ group_id }}/{% endif %}{{ server.id }}" class="">
      {{server.name}}
    </a>
  </li>
  {% endfor %}
  {% endfor %}
</ul>
{% else %}
<p>No server available.</p>
{% endif %}