{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <title>DBX - {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="grid-container">
        <div class="gd_main_nav">
            {% include 'includes/navbar.html' %}
        </div>

        <div class="gd_head">
            {% block ga_head %}{% endblock ga_head %}
        </div>

        <div class="gd_server_nav">
            {% block ga_server_nav %}{% endblock ga_server_nav %}
        </div>

        <div class="gd_left_nav">
            {% block ga_left_nav %}{% endblock ga_left_nav %}
        </div>

        <div class="gd_main">
            {% block ga_main %}{% endblock ga_main %}
        </div>

        <div class="gd_message">
            {% block ga_message %}{% endblock ga_message %}
        </div>

        <div class="gd_foot">
            <p class="">© 2019, SHRSS - Database Administration.</p>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    
</body>

</html>