$_base-color: #f8f9fa;
$_border-dark: #343a40;

$_padding: 10px;


html { height: 100%; }

body { min-height: 100%; }



.gd_navbar {
    grid-area: ga_navbar;
    
}

.gd_head {
    grid-area: ga_head;
    border-bottom: 1px solid $_border-dark;
    padding: $_padding;
    // align-content: space-evenly;
    background-color: #f8f9fa ;
    
}

.gd_message {
    grid-area: ga_message;
}

.gd_menu {
    grid-area: ga_menu;
    padding: $_padding;
    border-right: 1px solid $_border-dark;
    // min-height: 900px;
    //  background-color: #aadef8 ;

}

.gd_main {
    grid-area: ga_main;
    padding: $_padding;
    // min-height: 900px;
}

.grid-container {
    display: grid;
    grid-template-rows: 56px 44px 44px auto; 
    grid-template-columns: 170px 5fr;
    grid-template-areas: 
        'ga_navbar  ga_navbar'
        'ga_head    ga_head'
        'ga_menu    ga_message'
        'ga_menu    ga_main';
   height: 100vh;

}

.message {
    border-bottom: 1px solid $_border-dark;
    padding: $_padding;
    color: #856404;
    background-color: #fff3cd;
}
